body {
  background-color:#E7E7E7;
}

.caixa {
  background-color:white;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
  padding: 20px;
}
.container {
  width: 80%;
}

.sub_caixa {
  border-bottom: 1px solid #BEBEBE;
  display: inline-block;
  margin-top: 10px;
  height: 150px;
}
.sub_caixa .titulo {
  font-weight:600;
  font-size:x-large;
}
.sub_caixa .titulo2 {
  font-weight:600;
  font-size:large;
}
.sub_caixa .titulo3 {
  font-weight:600;
  font-size:medium;
}
.sub_caixa .titulo4 {
  font-weight:600;
  font-size:small;
}
.sub_caixa .texto {
  font-weight:300;
  display: inline-block;
  font-size:medium;
}
.sub_caixa .texto2 {
  font-weight:300;
  display: inline-block;
  font-size:small;
}
.sub_caixa .texto3 {
  font-weight:300;
  display: inline-block;
  font-size:x-small;
}

.sub_caixa .img {
  width: 20px;
}

.outra_caixa {
  border-bottom: 1px solid #BEBEBE;
  display: inline-block;
  margin-top: 10px;
  height: 280px;
}

.outra_caixa .titulo {
  border-bottom: 2px solid #666666;
  font-weight:600;
  font-size:x-large;
}

.outra_caixa .texto {
  font-weight:300;
  display: inline-block;
  font-size:medium;
}

.container2 {
  width: 100%;
}